.margin-right {
    margin-right: 40%;
}

.navbar { 
    background-color: #293242;
    height: 100px;
} 

.navbar-brand {
    margin-left: 7%;
}

.navbar-nav {
    margin-left: 65%;
}

.nav-item {
    margin-left: 10%;
}